<h1>Generate certificate</h1>
<div>
  <form (ngSubmit)="onSubmit()"  [formGroup]="form" >
    <p>
      <label>Issuer: </label>
      <input formControlName="issuer" id="issuer" type="text">
    </p>
    <p>
      <label>Date: </label>
      <input formControlName="date"  id="date" type="text">
    </p>
    <h2>Flags</h2>
    <label>EncipherOnly</label>
    <input type="checkbox" id="encipherOnly">
    <br/>
    <label>CRLSign</label>
    <input type="checkbox" id="CRLSign">
    <br/>
    <label>keyCertSign</label>
    <input type="checkbox" id="keyCertSign">
    <br/>
    <label>keyAgreement</label>
    <input type="checkbox" id="keyAgreement">
    <br/>
    <label>keyEncipherment</label>
    <input type="checkbox" id="keyEncipherment">
    <br/>
    <label>nonRepudiation</label>
    <input type="checkbox" id="nonRepudiation">
    <br/>
    <label>digitalSignature</label>
    <input type="checkbox" id="digitalSignature">
    <br/>
<!--    public static final int digitalSignature = 128;-->
<!--    public static final int nonRepudiation = 64;-->
<!--    public static final int keyEncipherment = 32;-->
<!--    public static final int dataEncipherment = 16;-->
<!--    public static final int keyAgreement = 8;-->
<!--    public static final int keyCertSign = 4;-->
<!--    public static final int cRLSign = 2;-->
<!--    public static final int encipherOnly = 1;-->
<!--    public static final int decipherOnly = 32768;-->

    <button type="submit">REQUEST</button>

  </form>
</div>
