<h1>Certificates</h1>

  <form (ngSubmit)="onValidateInput()" [formGroup]="validateInput">
    <p>
      <label>Validate by serial number: </label>
      <input formControlName="serialNumber" id="serialNumber" type="text" [(ngModel)]="serialNumber">
    </p>
    <button type="submit" [disabled]="!serialNumber">VALIDATE</button>
  </form>
<form (ngSubmit)="onValidateUpload()">
  <p>
    <label>Validate by copy: </label>
    <input id="certCopy" type="file" (change)="handleFileUpload($event)" >
  </p>
  <button type="submit" [disabled]="!selectedFile">Upload and validate</button>
</form>
<p id="responseMessage">{{validateResponseMessage}}</p>
<table class="certificate-table">
  <thead>
  <tr>
    <th>Serial Number</th>
    <th>From</th>
    <th>To</th>
    <th>Type</th>
    <th>Owner</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let certificate of certificates">
    <td>{{ certificate.serialNumber }}</td>
    <td>{{ certificate.validFrom }}</td>
    <td>{{ certificate.validTo }}</td>
    <td>{{ certificate.type }}</td>
    <td>{{ certificate.owner }}</td>
    <button>Download</button>
  </tr>
  </tbody>
</table>
