/* You can add global styles to this file, and also import other style files */
#mainContent{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh auto auto 0;
}
/* You can add global styles to this file, and also import other style files */
