<div class="container" >
    <div class = "row w-100 vh-100 justify-content-center align-items-center">
        <div class = "auth-box">
            <div *ngIf="!isConfirm && !newPassword">

                <div class="header">
                    <h2>Reset password</h2>
                </div>

                <div class="form">
                    <input type="email" name="email" [(ngModel)]="email" placeholder="Email Address" autocomplete="off">
                    <button (click) = "createUser()">Submit</button>
                </div>
            </div>

            <div *ngIf="isConfirm && !newPassword">
                <div class="header">
                    <h2>Enter Code</h2>
                    <h4 style="color: green;">A verification Code sent to {{email}}</h4>
                </div>

                <div class="form">
                    <input type="text" name="verificationCode" placeholder="Enter verification code" [(ngModel)]="code">
                    <button (click)="activateUser()">CONFIRM</button>
                </div>
            </div>

            <div *ngIf="newPassword">
                <div class="header">
                    <h2>Enter new password</h2>
                </div>

                <div class="form">
                    <input type="password" name="newPassword" placeholder="Enter new password" [(ngModel)]="password">
                    <button (click)="newPasswordMethod()">CONFIRM</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-message-modal *ngIf="showAlert" (modalClose)="showAlert=false" [message]="alertMessage"></app-message-modal>